@model PoliSchool.Web.Models.DeparmentListModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del deparmento: @Model.DepartmentID</h1>

<div>
    <h4>DeparmentListModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creationdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creationdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationdateDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationdateDisplay)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.DepartmentID}) |
    <a asp-action="Index">Back to List</a>
</div>
