@model IEnumerable<PoliSchool.Web.Models.DeparmentListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Deparmantos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo Del Deparmento
            </th>
            <th>
                Nombre Del Departamento
            </th>
            <th>
                Presupuesto Del Departamento
            </th>
            <th>
                Fecha De Igreso Del Departamento
            </th>
            <th>
                Fecha De Creacion Del Departamento
            </th>
            <th>
                Administrador Del Deparmento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creationdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationdateDisplay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentID }) |
                @Html.ActionLink("Details", "Details", new { id=item.DepartmentID }) |
               
            </td>
        </tr>
}
    </tbody>
</table>
